body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #efefee;
}

hr {
  height: 1px;
  inset: 0;
  border: 0;
  background-color: rgb(117, 108, 255);
}

.login-page {
  display: flex;
  position: relative;
}
.login-page .form-container {
  display: flex;
  gap: 2em;
  padding: 4em;
  align-items: center;
}
.login-page .login-component,
.login-page .signup-component {
  display: grid;
  gap: 1em;
  padding: 3em 4em;
}
.login-page .login-component .login-form form,
.login-page .login-component .signup-form form,
.login-page .signup-component .login-form form,
.login-page .signup-component .signup-form form {
  display: grid;
  gap: 1em;
}
.login-page .login-component .login-form form#signup,
.login-page .login-component .signup-form form#signup,
.login-page .signup-component .login-form form#signup,
.login-page .signup-component .signup-form form#signup {
  grid-template-columns: 1fr 1fr;
}
.login-page .login-component .login-form form#signup button,
.login-page .login-component .signup-form form#signup button,
.login-page .signup-component .login-form form#signup button,
.login-page .signup-component .signup-form form#signup button {
  grid-column: span 2;
}
.login-page .login-component .login-form form label,
.login-page .login-component .signup-form form label,
.login-page .signup-component .login-form form label,
.login-page .signup-component .signup-form form label {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.login-page .login-component .login-form form label input,
.login-page .login-component .signup-form form label input,
.login-page .signup-component .login-form form label input,
.login-page .signup-component .signup-form form label input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1em;
  inset: none;
}
.login-page .login-component .login-form form label input:focus,
.login-page .login-component .signup-form form label input:focus,
.login-page .signup-component .login-form form label input:focus,
.login-page .signup-component .signup-form form label input:focus {
  border: none;
}
.login-page .login-component .login-form form label input:active,
.login-page .login-component .signup-form form label input:active,
.login-page .signup-component .login-form form label input:active,
.login-page .signup-component .signup-form form label input:active {
  border: none;
}
.login-page .login-component .login-form form label .showPasswordIcon,
.login-page .login-component .signup-form form label .showPasswordIcon,
.login-page .signup-component .login-form form label .showPasswordIcon,
.login-page .signup-component .signup-form form label .showPasswordIcon {
  position: absolute;
  bottom: 6px;
  right: 8px;
}
.login-page .login-component .login-form form button,
.login-page .login-component .signup-form form button,
.login-page .signup-component .login-form form button,
.login-page .signup-component .signup-form form button {
  padding: 0.5em 1em;
  background-color: rgb(117, 108, 255);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-page .login-component .login-form p button,
.login-page .login-component .signup-form p button,
.login-page .signup-component .login-form p button,
.login-page .signup-component .signup-form p button {
  background-color: unset;
  border: none;
  color: rgb(117, 108, 255);
  cursor: pointer;
}
.login-page .login-component .header,
.login-page .signup-component .header {
  text-align: start;
}
.login-page .image-cover {
  position: absolute;
  transition: all 0.5s ease-in-out;
  border-radius: 2em;
  overflow: hidden;
  top: 4em;
  bottom: 4em;
  right: 0;
}
.login-page .image-cover img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}/*# sourceMappingURL=login.css.map */